.telaFundo {
    background: linear-gradient(#FBD1FF 0%, #FFA4EB 100%);
    width: 350px;
    height: 500px;
    margin: auto;
    display: block;
    margin-bottom: 50px;
    margin-top: 45px;
    border-radius: 15px;
    box-shadow: 0 5px 15px var(--cor2);
}

.h1{
    font-family: "Coiny", system-ui;
    text-align: center;
    padding-top: 30px;
    color: var(--cor4);
}

.mainContainer {
    padding: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.selectBody {
    position: relative;
    width: 190px;
    height: 45px;
    margin: 5px 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.selectBody .select {
    height: 110%;
    width: 120%;
    font-size: 18px;
    border: none;
    appearance: none;
    padding: 0 30px 0 10px;
    border-radius: 8px;
}

.selectContainer .selectLabel {
    color: var(--cor4);
    font-size: 25px;
    text-align: center;
    font-family: Nerko One ;
}

.selectIcon {
    position: absolute;
    left: 105%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.selectIcon .img {
    width: 18px;
}


.button {
    padding: 10px 20px;
    border: none;
    background-color: #fc7de0;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
    color: var(--cor4);
    font-family: Nerko One;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
}

.button:hover {
    transform: scale(1.04);
    box-shadow: 0 1px 15px #ff78e2;
}

.button .link {
    padding: 10px 20px;
    border: none;
    background-color: #fc7de0;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
    color: var(--cor4);
    font-family: Nerko One;
    text-decoration: none;
}

.link:hover{
    color: var(--cor3);
}

@media (max-width: 393px) {
    .telaFundo {
        width: 95%;
    }
}    

@media (max-width: 325px) {
    .h1 {
        font-size: 30px;
    }
    .mainContainer {
        flex-direction: column;
        padding: 5vh;
        gap: 30px;
    }
    .selectBody {
        width: 100%;
    }
    .selectBody .select {
        width: 100%;
    }
    .selectIcon {
        left: 88%;
    }
}